<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<script src="../../js/change_view.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			change.action(640);
		</script>
		<meta name="apple-mobile-web-app-title" content="codewa">
		<link rel="stylesheet" type="text/css" href="../../css/normal.css" />
		<link rel="stylesheet" type="text/css" href="../../css/login/logins.css" />
		<link rel="apple-touch-icon-precomposed" href="http://7xkwkh.com1.z0.glb.clouddn.com/dog.png" />
		<link rel="shortcut icon" href="http://7xkwkh.com1.z0.glb.clouddn.com/dog.ico" />
		<title>登录</title>
	</head>

	<body class="login">
		<div id="content">
			<form action="" class="login_form">
				<div class="input box">
					<i class="icon icon-phone"></i>
					<input type="tel" name="user" id="user" value="" class="flex1" placeholder="请输入手机号" />
				</div>
				<div class="input box">
					<i class="icon icon-pwd"></i>
					<input type="password" name="pwd" id="pwd" value="" class="flex1" placeholder="请输入密码" />
					<a href="">忘记密码？</a>
				</div>
				<section class="footer">
					<button class="btns">登录</button>
					<a href="register.html" class="btns">注册</a>
				</section>
			</form>
			<section class="login_else">
				<h3>
					<span>或从以下方式登录</span>
				</h3>
				<div>
					<a href="">
						<i class="icon icon-weixin"></i>
						<span>微信</span>
					</a>
					<a href="">
						<i class="icon icon-qq"></i>
						<span>QQ</span>
					</a>
					<a href="">
						<i class="icon icon-weibo"></i>
						<span>新浪微博</span>
					</a>
				</div>
			</section>
		</div>
		<script src="../../js/fastclick.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jQuery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/m_layz_load.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/store.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/template.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			window.addEventListener('load', function() {
				FastClick.attach(document.body);
			}, false);
			$(function() {
				my.public('../public/', 5);
			});
			var $user = $('#user');
			var $pwd = $('#pwd');
			$('.login_form').submit(function(e) {
				e.preventDefault();
				var go_json = {
					name: $.trim($user.val()),
					pas: $pwd.val()
				}
				if (go_json.name == '') {
					my.toast('账号不能为空！');
				} else if (go_json.pas == '') {
					my.toast('密码不能为空！');
				} else if (!my.email.test(go_json.name) && !my.tel_test.test(go_json.name)) {
					my.toast('账号格式不正确!')
				} else {
					my.show_loading();
					if (go_json.name == '18688888888') {
						store.set('uid', '18688888888');
						my.hide_loading();
						my.tips('correct', '登录成功')
					} else {
						alert(18688888888)
					}
				}
			});
		</script>
	</body>

</html>