@mixin _dot1{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin line_over2{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
*{
    box-sizing: border-box;
}
ul.list{
    width: 100%;
    height: auto;
    overflow: hidden;
    li{
        width: 100%;
        height: auto;
        overflow: hidden;
        background: #fff;
        margin-bottom: 10px;
        padding: 0px 15px 0px 15px;
        .list-top{
            position: relative;
            height: 30px;
            border-bottom: 1px solid #cccccc;
            em{
                position: absolute;
                top:6px;
                left: 0px;
                float: left;
                width: 65px;
                text-align: center;
                color: #fff;
                background-color: #9c84cb;
                font-size: 12px;
                height: 18px;
                line-height: 18px;
            }
            .list-t-r{
                position: relative;
                width: 100%;
                height: 30px;
                margin-left: 80px;
                margin-right:60px;
                p{
                    width: 100%;
                    @include _dot1;
                    line-height: 30px;
                }
                span{
                    position: absolute;
                    top:6px;
                    right: 0px;
                }
            }
        }
    }
}
