@import 'public';
html,
body {
    position: relative;
}
ul.adrs {
    padding: 0.25rem;
    li.abcs {
        section.hrefs {
            &:after {
                top: 210px!important;
            }
            div.abc_shapes {
                overflow: hidden;
                a {
                    border-right: 1px solid $color_border;
                    &:nth-of-type(3) {
                        border-right: none;
                    }
                    &:nth-of-type(6) {
                        border-right: none;
                    }
                    &:nth-of-type(4n+10) {
                        border-right: none;
                    }
                }
            }
        }
    }
    li.lists {
        color: $color_title;
        h3 {
            font-size: 13px;
            padding: 5px 0;
            font-weight: bold;
            text-align: center;
            width: 25%;
            height: 30px;
            @extend .ellipsis;
            padding: 0 2px;
            line-height: 30px;
        }
        section.hrefs {
            background-color: #fff;
            border-radius: 3px;
            overflow: hidden;
            position: relative;
            div.abc_shapes {
                clear: both;
                display: block;
                a.shape_location {
                    height: 60px;
                    line-height: 60px;
                    font-size: 30px;
                    color: #999;
                    position: relative;
                }
            }
            div.abc {
                position: relative;
                z-index: 8;
                border-bottom: 1px solid $color_border;
                overflow: hidden;
                a {
                    border: none;
                    position: relative;
                    color: $color_logo;
                }
            }
            a {
                color: $color_content;
                position: relative;
                z-index: 6;
                font-size: 13px;
                float: left;
                text-align: center;
                width: 25%;
                height: 30px;
                @extend .ellipsis;
                padding: 0 2px;
                line-height: 30px;
                border-right: 1px solid $color_border;
                border-bottom: 1px solid $color_border;
                &:active {
                    background: $color_border;
                }
                &:nth-of-type(4n+3) {
                    border-right: none;
                }
            }
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 3px;
                border: 1px solid $color_border;
                left: 0;
                top: 0;
                z-index: 5;
                display: block;
                box-sizing: border-box;
            }
            &:after {
                content: '';
                position: absolute;
                width: 25%;
                height: 100%;
                border-left: 1px solid $color_border;
                border-right: 1px solid $color_border;
                left: 50%;
                top: 0;
                z-index: 1;
                display: block;
                box-sizing: border-box;
                margin-left: -1px;
            }
        }
    }
}







