@import 'public';
body {
    background-color: #fff;
}
form {
    background: #fafafa;
    padding: 0.25rem;
    position: relative;
    font-size: 15px;
    ul.selects_list {
        margin-top: 0.1rem;
        height: 25px;
        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        font-size: 0;
        display: block;
        width: 100%;
        li {
            display: inline-block;
            font-size: 12px;
            height: 25px;
            line-height: 25px;
            padding: 0 15px;
            border-radius: 3px 3px 0 0;
            color: #333;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
        }
        li.on {
            color: #fff;
            background-color: $color_logo;
        }
    }
    div.input {
        background-color: #e6e6e8;
        color: #333;
        display: block;
        width: 100%;
        padding: 8px;
        overflow: hidden;
        position: relative;
        font-size: 12px;
        input {
            display: block;
            width: 100%;
            padding: 0 24px;
            background-color: transparent;
        }
        input[type="search"] {
            -webkit-appearance: none;
        }
        input::-webkit-search-cancel-button {
            display: none;
        }
        i {
            display: block;
            position: absolute;
            left: 8px;
            color: #fff;
            top: 6px;
            @extend .select_no;
            &:last-of-type {
                display: none;
                left: inherit;
                right: 8px;
                top: 5px;
                border-radius: 50%;
                background-color: #f2f2f3;
                width: 20px;
                height: 20px;
                font-size: 14px;
                text-align: center;
                line-height: 20px;
                color: #e6e6e8;
                @include transform(0,0,0.8);
                cursor: pointer;
                display: none;
            }
        }
    }
    span {
        display: block;
        padding-left: 0.25rem;
        @extend .select_no;
        padding-top: 6px;
    }
}
div.href_more {
    padding-top: 0.2rem;
    font-size: 13px;
    display: block;
    width: 8rem;
    a {
        color: #333;
        width: 1.63rem;
        float: left;
        font-size: 12px;
        padding: 5px 2px;
        text-align: center;
        @extend .ellipsis;
        margin-right: 0.16rem;
        margin-bottom: 0.32rem;
        border: 1px solid $color_border;
    }
}