<a href="../index/index.html" class="flex1 on">
	<i class="icon icon-top"></i>
	<span class="ellipsis">夺宝</span>
</a>
<a href="" class="flex1">
	<i class="icon icon-top"></i>
	<span class="ellipsis">最新揭晓</span>
</a>
<a href="" class="flex1">
	<i class="icon icon-top"></i>
	<span class="ellipsis">晒单</span>
</a>
<a href="" class="flex1">
	<i class="icon icon-top" data-rightBar='2'></i>
	<span class="ellipsis">清单</span>
</a>
<a href="../user/index.html" class="flex1">
	<i class="icon icon-top"></i>
	<span class="ellipsis">我</span>
</a>