@import "mod/function";
@import "mod/color";
div.banner_title {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: center top repeat-x;
    background-color: $grey_4;
    div.bg {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.2;
        filter:alpha(opacity=20);
        position: absolute;
        left: 0;
        top: 0;
    }
    div.banner_title_content {
        text-align: center;
        padding-top: 25px;
        position: relative;
        z-index: 1;
        img.lazy_img {
            display: block;
            margin: 0 auto;
        }
        em {
            font-size: 48px;
            display: block;
            text-align: center;
            color: $yellow_1;
            font-family: '宋体';
        }
        p {
            display: block;
            color: #fff;
            font-size: 20px;
            line-height: 2em;
        }
        div.btns {
            display: block;
            margin-top: 20px;
            a {
                display: inline-block;
                font-size: 14px;
                margin: 0 15px;
                width: 140px;
                text-align: center;
                padding: 0;
            }
        }
    }
}