$white:#fff;
$red_1:#ff4048;
$red_2:#ff696f;
$red_3:#e62626;
$grey_1:#f5f5f5;
$grey_2:#f7f7f7;
$grey_3:#ddd;
$grey_4:#333;
$grey_5:#666;
$yellow_1:#ffc240;
$yellow_2:#f8a538;
$green_1:#d4c913;


.white{color:$white;}
.red_1{color:$red_1;}
.red_2{color:$red_2;}
.red_3{color:$red_3;}
.grey_1{color:$grey_1;}
.grey_2{color:$grey_2;}
.grey_3{color:$grey_3;}
.grey_4{color:$grey_4;}
.grey_5{color:$grey_5;}
.yellow_1{color:$yellow_1;}
.yellow_2{color:$yellow_2;}
.green_1{color:$green_1;}





